<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

	<link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/attemptquiz.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
 

<body>

    <section class="main">


    <form action=<%="/attemptques/"+id%> id="form1" class="search_form" spellcheck="false" method="get"> 
        <div class="container">
            <div class="col">
                <h3 id="questionBox">
                    <%=id%> ) <%=ques.question%>
                </h3>
            </div>
            <div class="col box">
                <input name="option" type="radio" id="first" value="a">
                <label for="first"><%=ques.a%></label>
            </div>
            <div class="col box">
                <input name="option" type="radio" id="second" value="b">
                <label for="second"><%=ques.b%></label>
            </div>
            <div class="col box">
                <input name="option" type="radio" id="third" value="c">
                <label for="third"><%=ques.c%></label>
            </div>
            <div class="col box">
                <input name="option" type="radio" id="fourth" value="d">
                <label for="fourth"><%=ques.d%></label>
            </div>
            <button id="submit">Submit</button>
        </div>
    </form>
    </section>
    <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script src="./JS//attemptquiz.js"></script> -->

</body>
</html>