<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

	<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/profile.css">
</head>

<body>

	<nav class="navbar">
        <div class="navbar-heading">PD Quiz</div>
        <div class="menu-toggle" id="mobile-nav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="/logout" class="nav-links">Logout</a></li>
            <li><a href="/createquiz" class="nav-links">Create Quiz</a></li>
        </ul>
    </nav>
	<div class="col-md-4 col-md-offset-4">
		<div class="profiledetail">
			<div>
				<p>Profile Detail</p>
			</div>
			<div>
			
					<table>
						<tr><td>Name </td><td><%= name %></td></tr>
						<tr><td>Email </td><td><%= email %></td></tr>
					</table>
				
			</div>
			</div>
			<table  class="quizesdetail">
				<tr>
					<th>S no.</th>
					<th>QUIZ NAME:</th>
					<th>
						QUIZ DESCRIPTION:
					</th>
					<th>
						NUMBER OF QUESTION:
					</th>

					<th>Link:</th>
				<th>Quiz Attempter</th>
				<th>View Stats</th>
				</tr>
			<tr>	
		<% for (let i = 0;i<quizzes.length; i++) { %>
			
		<td><h2><%=i%></h2></td>
		<td><h3><%= quizzes[i].quizname %> </h3></td>
		<td>	<h3><%= quizzes[i].quizdescription %> </h3></td>
		<td>	<h3><%= quizzes[i].questionIDs.length %> </h3></td>
			<td><h3><a href=<%= "/startquiz/"+quizzes[i].quizid %>><%= "/startquiz/"+quizzes[i].quizid %> </a></h3></td>
			<td><h3><a href=<%= "/get_attempters/"+quizzes[i].quizid %>>See Attempters </a></h3></td>
			<td><h3><a href=<%= "/get_stats/"+quizzes[i].quizid %>>View Stats </a></h3></td>
		</tr>
		
			<% } %> 
			</table>
	</div>
</body>
</html>